* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

:root {
    --bg-color: #2a2a2a;
    --second-bg-gradient: linear-gradient(135deg, #2e2e2e, #3c3c3c);
    --second-bg-color: #2e2e2e;
    --text-color: #ffffff;
    --second-color: #ffdd00;
    --main-color: #0096ff;
    --hover-color: #007acc;
    --h1-font: 2.5rem;
    --h2-font: 1.8rem;
    --h3-font: 1.6rem;
    --p-font: 1.1rem;
    --span-font: 1.5rem;
    --gradient-bg: linear-gradient(135deg, #1a1a1a, #4f4f4f);
    --shadow-color: rgba(0, 0, 0, 0.5);
    --button-hover-color: #0056b3;
    --light-hover-color: #3399ff;
    --secondary-color: #ffcc00;
}

body {
    font-weight: 400 !important;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--second-bg-gradient);
    color: var(--text-color);
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: var(--h1-font);
    color: var(--text-color);
}

h2 {
    font-size: var(--h2-font);
    color: var(--text-color);
}

h3 {
    font-size: var(--h3-font);
    color: var(--text-color);
}

p {
    font-weight: 300;
    font-size: var(--p-font);
    color: var(--text-color);
}

span {
    font-size: var(--span-font);
    color: var(--text-color);
}

.buttonPersist {
    font-weight: 500 !important;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.interonda {
    margin-left: 25px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    width: 40px;
    height: 40px;
}

.buttonPersist:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
    transform: scale(1.05);
}

.navbar {
    background: var(--gradient-bg);
    color: var(--text-color);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.navbar-brand {
    color: var(--text-color);
    font-size: 1.0rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-toggler {
    border: none;
    background-color: var(--main-color);
    color: var(--text-color);
}

.navbar-toggler:hover {
    background-color: var(--hover-color);
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.navbar-menu {
    display: flex;
    gap: 1rem;
}

.navbar-menu a {
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 5px;
    font-size: 1rem;
}

.navbar-menu a:hover {
    background: linear-gradient(45deg, var(--main-color), var(--hover-color));
    color: var(--text-color);
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.navbar-menu a.active {
    background-color: var(--main-color);
    border-radius: 5px;
}

.navbar-menu a:focus {
    outline: 2px dashed var(--main-color);
    outline-offset: 2px;
}

.navbar-menu .nav-link.active {
    background-color: var(--main-color) !important;
    color: var(--text-color) !important;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.navbar.sticky-top.scrolled {
    padding: 0.5rem 1rem;
    transition: padding 0.3s ease-in-out;
    background-color: var(--main-color);
}

.d-flex {
    min-height: calc(100vh - 56px);
}

.sidebar {
    background: var(--gradient-bg);
    flex-shrink: 0;
    height: 100%;
    overflow-y: auto;
}

.sidebar .nav-link {
    color: var(--second-color);
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.sidebar .nav-link:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.contentPersist {
    flex-grow: 1;
    padding: 2rem;
    background: var(--second-bg-gradient);
    color: var(--text-color);
    overflow: hidden;
    text-align: center;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.titlePersist {
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 2rem;
    background: linear-gradient(45deg, var(--main-color), var(--hover-color));
    color: var(--text-color);
    text-shadow: 1px 1px 2px var(--bg-color) !important;
    font-size: var(--h1-font);
}

.btnCreate {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    color: var(--text-color) !important;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.btnCreate:hover {
    background-color: var(--hover-color) !important;
    border-color: var(--hover-color) !important;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.btn-primary,
.btn-danger {
    text-shadow: 1px 1px 2px var(--bg-color) !important;
    color: var(--text-color) !important;
}

.table td.text-end {
    text-align: right !important;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid var(--second-bg-color);
    font-weight: 500;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--second-bg-color);
    text-shadow: none !important;
}

.table tbody+tbody {
    border-top: 2px solid var(--second-bg-color);
}

.table-hover tbody tr:hover {
    color: var(--text-color);
    background-color: var(--hover-color);
}

.table-bordered {
    border: 1px solid var(--second-bg-color);
}

.table-bordered th,
.table-bordered td {
    border: 1px solid var(--second-bg-color);
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-dark {
    background-color: var(--second-bg-color);
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: var(--bg-color);
    background-color: #1a1a1a;

    color: var(--second-color);
}

.table-dark.table-hover tbody tr:hover {
    background-color: var(--hover-color);
}


