<!DOCTYPE html>
<body xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top shadow-sm">
    <div class="container-fluid">
      <img src="images/logo.png" alt="Interonda Logo"
           class="d-inline-block align-text-top me-2 interonda navbar-logo"
           th:src="@{/images/logo.png}">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto navbar-menu">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" th:href="@{/inicio}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/perfil}">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/salir}">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</body>
