<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="actionButtons(table, row)">
    <div th:switch="${table}">
        <div th:case="'Categorias'">
            <div class="btn-group">
                <button class="btn btn-primary btn-sm navbar-menu me-2 buttonUpdateCategoria"
                        data-bs-toggle="modal"
                        data-bs-target="#updateCategoriaModal" th:data-id="${row['id']}">
                    Editar
                </button>
                <form th:action="@{/tableCategorias/{id}(id=${row['id']})}" method="post"
                      onsubmit="return confirmDelete(this);">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger btn-sm delete-button"
                            th:data-id="${row['id']}">Borrar
                    </button>
                </form>
            </div>
        </div>
        <!-- Agrega más casos para otras tablas según sea necesario -->
        <div th:case="*">
            <p th:text="'No se encontró el caso para la tabla: ' + ${table}"></p>
        </div>
    </div>
</div>
</body>
</html>