<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="actionButtons(table, row)">
    <div th:switch="${table}">
        <div th:case="'Categorias'">
            <div class="btn-group">
                <button class="btn btn-primary btn-sm navbar-menu me-2 buttonUpdateCategoria"
                        data-bs-toggle="modal"
                        data-bs-target="#updateCategoriaModal" th:data-id="${row['id']}">
                    Editar
                </button>
                <form th:action="@{/tableCategorias/{id}(id=${row['id']})}" method="post"
                      onsubmit="return confirmDelete(this);">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger btn-sm delete-button"
                            th:data-id="${row['id']}">Borrar
                    </button>
                </form>
            </div>
        </div>
        <div th:case="'Clientes'">
            <div class="btn-group">
                <button class="btn btn-primary btn-sm navbar-menu me-2 buttonUpdateCliente"
                        data-bs-toggle="modal"
                        data-bs-target="#updateClienteModal" th:data-id="${row['id']}">
                    Editar
                </button>
                <form th:action="@{/tableClientes/{id}(id=${row['id']})}" method="post"
                      onsubmit="return confirmDelete(this);">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger btn-sm delete-button"
                            th:data-id="${row['id']}">Borrar
                    </button>
                </form>
            </div>
        </div>
        <div th:case="'Proveedores'">
            <div class="btn-group">
                <button class="btn btn-primary btn-sm navbar-menu me-2 buttonUpdateProveedor"
                        data-bs-toggle="modal"
                        data-bs-target="#updateProveedorModal" th:data-id="${row['id']}">
                    Editar
                </button>

                <form th:action="@{/tableProveedores/{id}(id=${row['id']})}" method="post"
                      onsubmit="return confirmDelete(this);">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger btn-sm delete-button"
                            th:data-id="${row['id']}">Borrar
                    </button>
                </form>
            </div>
        </div>
        <div th:case="'Depositos'">
            <div class="btn-group">
                <button class="btn btn-primary btn-sm navbar-menu me-2 buttonUpdateDeposito"
                        data-bs-toggle="modal"
                        data-bs-target="#updateDepositoModal" th:data-id="${row['id']}">
                    Editar
                </button>
                <form th:action="@{/tableDepositos/{id}(id=${row['id']})}" method="post"
                      onsubmit="return confirmDelete(this);">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger btn-sm delete-button"
                            th:data-id="${row['id']}">Borrar
                    </button>
                </form>
            </div>
        </div>
        <div th:case="'Productos'">
            <div class="btn-group">
                <button class="btn btn-primary btn-sm buttonUpdateProducto"
                        data-bs-toggle="modal"
                        data-bs-target="#updateProductoModal" th:data-id="${row['id']}">
                    Editar
                </button>
                <form th:action="@{/tableProductos/{id}(id=${row['id']})}" method="post"
                      onsubmit="return confirmDelete(this);">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="button" class="btn btn-danger btn-sm delete-button"
                            th:data-id="${row['id']}">Borrar
                    </button>
                </form>
            </div>
        </div>
        <div th:case="'DepositosProductos'">
            <div class="btn-group">
                <button class="btn btn-primary btn-sm navbar-menu me-2 buttonUpdateDepositosProductos"
                        data-bs-toggle="modal"
                        data-bs-target="#updateDepositosProductosModal" th:data-id="${row['id']}">
                    Editar
                </button>
            </div>
        </div>
        <div th:case="'Ventas'">
            <div class="btn-group">
                <button class="btn bg-success bg-success-compra btn-sm navbar-menu me-2"
                        onclick="showDetalleVentaModal(this)" th:data-id="${row['id']}">
                    Detalle
                </button>
                <button class="btn btn-primary btn-sm navbar-menu me-2 buttonUpdateVenta"
                        data-bs-toggle="modal"
                        data-bs-target="#updateVentaModal" th:data-id="${row['id']}">
                    Editar
                </button>
                <form th:action="@{/tableVentas/{id}(id=${row['id']})}" method="post"
                      onsubmit="return confirmDelete(this);">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger btn-sm delete-button"
                            th:data-id="${row['id']}">Borrar
                    </button>
                </form>
            </div>
        </div>
        <div th:case="'Compras'">
            <div class="btn-group">
                <button class="btn bg-success bg-success-compra btn-sm navbar-menu me-2"
                        th:data-id="${row['id']}" onclick="showDetalleCompraModal(this)">
                    Detalle
                </button>
                <button class="btn btn-primary btn-sm navbar-menu me-2 buttonUpdateCompra"
                        data-bs-toggle="modal"
                        data-bs-target="#updateCompraModal" th:data-id="${row['id']}">
                    Editar
                </button>
                <form th:action="@{/tableCompras/{id}(id=${row['id']})}" method="post"
                      onsubmit="return confirmDelete(this);">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger btn-sm delete-button"
                            th:data-id="${row['id']}">Borrar
                    </button>
                </form>
            </div>
        </div>
        <div th:case="'Presupuestar'">
            <div class="btn-group">
                <button class="btn bg-success bg-success-compra btn-sm navbar-menu me-2"
                        th:onclick="'downloadPdf(' + ${row['id']} + ')'">
                    Presupuestar
                </button>
            </div>
        </div>
        <div th:case="*">
            <p th:text="'No se encontró el boton para la tabla: ' + ${table}"></p>
        </div>
    </div>
</div>
</body>
</html>