<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Main Page</title>
</head>
<body>
<main class="contentPersist p-3 text-center" th:fragment="mainFragment">
    <h2 class="mb-3 titlePersist" th:text="'Persistencia ' + ${table}">Persistencia Productos</h2>

    <!-- Botón de creación dinámico -->
    <div th:switch="${table}">
        <div th:case="'Categorias'">
            <button class="btn buttonPersist" data-bs-toggle="modal" data-bs-target="#createCategoriaModal">
                Crear Categoria
            </button>
        </div>
        <div th:case="'Clientes'">
            <button class="btn buttonPersist" data-bs-toggle="modal"
                    data-bs-target="#createClienteModal">
                Crear Cliente
            </button>
        </div>
        <div th:case="'Proveedores'">
            <button class="btn buttonPersist" data-bs-toggle="modal"
                    data-bs-target="#createProveedorModal">
                Crear Proveedor
            </button>
        </div>
        <div th:case="'Depositos'">
            <button class="btn buttonPersist" data-bs-toggle="modal"
                    data-bs-target="#createDepositoModal">
                Crear Depósito
            </button>
        </div>
        <div th:case="'Productos'">
            <button class="btn buttonPersist" data-bs-toggle="modal"
                    data-bs-target="#createProductoModal">
                Crear Producto
            </button>
        </div>
        <div th:case="'DepositosProductos'">
            <div class="col-md-6 mb-3">
                <form th:action="@{/main}" method="get">
                    <input type="hidden" name="table" value="tableDepositosProductos"/>
                    <select class="form-control form-control-sm form-control-chico" id="depositoId" name="depositoId" onchange="this.form.submit()">
                        <option th:each="deposito : ${depositos}" th:value="${deposito.id}" th:text="${deposito.nombre}"
                                th:selected="${deposito.id == selectedDepositoId}"></option>
                    </select>
                </form>
            </div>
        </div>
        <!-- Agrega más casos para otras tablas según sea necesario -->
        <div th:case="*">
            <p th:text="'No se encontró el caso para la tabla: ' + ${table}"></p>
        </div>
    </div>

    <form th:action="@{/${table}/search}" method="get" class="search-form-container">
        <div class="input-group-buscar">
            <input type="text" name="name" placeholder="Buscar" class="form-control search-input">
            <input type="hidden" name="page" value="0">
            <input type="hidden" name="size" value="15">
        </div>
    </form>

    <div class="table-responsive mt-3">
        <table class="table tableTodas table-dark table-striped table-bordered custom-table table-sm table-smaller-text">
            <thead class="table-light">
            <tr>
                <th th:each="header : ${headers}" scope="col" th:text="${header}">Header</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${rows}">
                <td th:each="header : ${headers}" th:data-label="${header}" th:text="${row[header.toLowerCase()]}">
                    Data
                </td>
                <td th:data-label="Acciones">
                    <div th:replace="~{fragments/actionButtons :: actionButtons(table=${table}, row=${row})}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${pageDetails.hasPrevious} ? '' : 'disabled'">
                <a class="page-link" th:href="${pageDetails.previousPageUrl}">Anterior</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, pageDetails.totalPages - 1)}"
                th:classappend="${pageDetails.number == i} ? 'active'">
                <a class="page-link" th:href="${pageDetails.pageUrl.apply(i)}" th:text="${i + 1}">1</a>
            </li>
            <li class="page-item" th:classappend="${pageDetails.hasNext} ? '' : 'disabled'">
                <a class="page-link" th:href="${pageDetails.nextPageUrl}">Siguiente</a>
            </li>
        </ul>
    </nav>
</main>
</body>
</html>