<aside class="sidebar bg-dark text-white p-3 fixed-sidebar" aria-label="Sidebar Navigation">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Proveedores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Ventas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Compras</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Depósitos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Historiales de Stock</a>
        </li>
    </ul>
</aside>