* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

:root {
    --bg-color: #1a1a1a;
    --second-bg-color: #2e2e2e;
    --text-color: #ffffff;
    --second-color: #cccccc;
    --main-color: #007bff;
    --hover-color: #0056b3;
    --h1-font: 2.5rem;
    --h2-font: 1.8rem;
    --h3-font: 1.6rem;
    --p-font: 1.1rem;
    --span-font: 1.5rem;
    --highlight-color: #ffc107;
    --gradient-bg: linear-gradient(135deg, #1a1a1a, #2e2e2e);
    --shadow-color: rgba(0, 0, 0, 0.5);
    --button-hover-color: #0056b3;
}

body {
    font-weight: 400 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--second-bg-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    font-weight: 700 !important;
}

h1 {
    font-size: var(--h1-font);
}

h2 {
    font-size: var(--h2-font);
}

h3 {
    font-size: var(--h3-font);
}

p {
    font-weight: 300 !important;
    font-size: var(--p-font);
}

button {
    font-weight: 500 !important;
    font-size: var(--span-font);
}

.navbar {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.navbar-brand {
    color: var(--text-color);
    font-size: var(--h2-font);
    font-weight: bold;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-toggler {
    border: none;
    background-color: var(--main-color);
    color: var(--text-color);
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.navbar-toggler:hover {
    background-color: var(--hover-color);
}

.navbar-menu {
    display: flex;
    gap: 1rem;
}

.navbar-menu a {
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 5px;
    font-size: var(--p-font);
}

.navbar-menu a:hover {
    background: linear-gradient(45deg, var(--main-color), var(--hover-color));
    color: var(--text-color);
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.navbar-menu a.active {
    background-color: var(--main-color);
    border-radius: 5px;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.navbar-menu a:focus {
    outline: 2px dashed var(--main-color);
    outline-offset: 2px;
}

.navbar.sticky-top.scrolled {
    padding: 0.5rem 1rem;
    transition: padding 0.3s ease-in-out;
    background-color: var(--main-color);
}

.bordered-text {
    border: 2px solid var(--main-color);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

.d-flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: flex-start;
}

.sidebar {
    width: 200px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

.d-flex {
    flex-direction: row;
}

.content {
    margin-left: 200px;
    flex-grow: 1;
    padding: 2rem;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    text-align: center;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
    min-height: 100vh;
    overflow-y: auto;
}

.sidebar .nav-link {
    color: var(--second-color);
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.sidebar .nav-link:hover {
    background-color: var(--hover-color);
    color: var (--text-color);
}

.card {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
    height: 150px !important;
    width: 100% !important;
    max-width: 300px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--gradient-bg);
}

.card:hover {
    transform: scale(1.05);
    border: 2px solid var(--highlight-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:hover .card-number,
.card:hover .card-title {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    color: var(--highlight-color);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 1rem;
}

.card-number {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    flex-shrink: 0;
    color: var(--second-color);
}

.card-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0.5rem;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: var(--second-color);
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.titleDashboard {
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 2rem;
    background: linear-gradient(45deg, var(--main-color), var(--hover-color));
    color: var(--text-color);
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.elegant-text {
    color: #ffcc00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}