* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

:root {
    --bg-color: #333333;
    --second-bg-color: #282828;
    --text-color: #f0f0f0;
    --second-color: #d0d0d0;
    --main-color: #0096ff;
    --hover-color: #0073cc;
    --h1-font: 2.5rem;
    --h2-font: 1.8rem;
    --h3-font: 1.6rem;
    --p-font: 1.1rem;
    --span-font: 1.5rem;
    --highlight-color: #f0f0f0; /* Añadido para sincronizar colores */
    --gradient-bg: linear-gradient(135deg, #333333, #282828); /* Añadido para sincronizar colores */
    --shadow-color: rgba(0, 0, 0, 0.5); /* Añadido para sincronizar colores */
    --button-hover-color: #0073cc; /* Añadido para sincronizar colores */
}

/* Global Styles */
body {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    font-size: var(--p-font);
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: var(--h1-font);
    color: var(--text-color);
}

h2 {
    font-size: var(--h2-font);
    color: var(--text-color);
}

h3 {
    font-size: var(--h3-font);
    color: var(--text-color);
}

p {
    font-weight: 300;
    font-size: var(--p-font);
    color: var(--text-color);
}

button {
    font-weight: 500;
    background: linear-gradient(45deg, var(--main-color), var(--hover-color));
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    width: 100%;
    font-size: var(--p-font);
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

button:hover {
    background: linear-gradient(45deg, var(--hover-color), var(--main-color));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px var(--bg-color) !important;
    color: var(--text-color);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--highlight-color);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
}

.container-fluid {
    height: 100vh !important;
    width: 100% !important;
    padding: 0 !important;
}

#formulario {
    background: var(--bg-color);
    border-radius: 15px;
    border: 2px solid var(--main-color);
    width: 100%;
    max-width: 400px;
    padding: 2rem 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
}

.btn-primary {
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

#page-name {
    padding: 0.5rem 0;
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 1rem;
    background: linear-gradient(45deg, var(--main-color), var(--hover-color));
    color: var(--text-color);
    z-index: 1;
    width: 100%;
    max-width: 400px;
    margin-top: 25px !important;
}

#page-name .navbar-brand {
    color: var(--text-color);
    font-size: var(--h1-font);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease;
    margin: 0;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.titleDashboard {
    border: 2px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 2rem;
    background: linear-gradient(45deg, var(--main-color), var(--hover-color));
    color: var(--text-color);
    width: 100%;
    max-width: 500px;
    text-shadow: 1px 1px 2px var(--bg-color) !important;
}

.video-background {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

input::placeholder {
    color: white !important;
}

/* Darker placeholder color */

/* Custom Input Styles */
.custom-input {
    color: white !important;
    background: var(--second-bg-color) !important;
}

/* Responsive Styles for Medium Screens */
@media (max-width: 992px) and (min-width: 768px) {
    #formulario {
        padding: 1.75rem 1.25rem;
        max-width: 375px;
    }

    #formulario h2 {
        font-size: 1.6rem;
    }

    #formulario .form-label {
        font-size: 0.95rem;
    }

    #formulario .form-control {
        font-size: 0.95rem;
    }

    #formulario button {
        font-size: 0.95rem;
    }

    #formulario .invalid-feedback {
        font-size: 0.85rem;
    }

    #page-name .navbar-brand {
        font-size: 1.75rem;
    }

    .titleDashboard {
        max-width: 95%;
    }

    body {
        font-size: 0.95rem;
    }

    button {
        font-size: 0.95rem;
    }

    #page-name {
        margin-top: 35px !important;
    }
}

/* Responsive Styles */
@media (max-width: 1040px) {
    #formulario {
        padding: 1.75rem 1.25rem;
        max-width: 380px;
    }

    #formulario h2 {
        font-size: 1.7rem;
    }

    #formulario .form-label {
        font-size: 0.97rem;
    }

    #formulario .form-control {
        font-size: 0.97rem;
    }

    #formulario button {
        font-size: 0.97rem;
    }

    #formulario .invalid-feedback {
        font-size: 0.87rem;
    }

    #page-name .navbar-brand {
        font-size: 1.8rem;
    }

    .titleDashboard {
        max-width: 96%;
    }

    body {
        font-size: 0.97rem;
    }

    button {
        font-size: 0.97rem;
    }

    #page-name {
        margin-top: 30px !important;
        position: relative;
        bottom: -20px;
        /* Adjust this value as needed */
    }
}

@media (max-width: 768px) {
    #formulario {
        padding: 1.5rem 1rem;
        max-width: 350px;
    }

    #formulario h2 {
        font-size: 1.5rem;
    }

    #formulario .form-label {
        font-size: 0.9rem;
    }

    #formulario .form-control {
        font-size: 0.9rem;
    }

    #formulario button {
        font-size: 0.9rem;
    }

    #formulario .invalid-feedback {
        font-size: 0.8rem;
    }

    #page-name .navbar-brand {
        font-size: 1.5rem;
    }

    .titleDashboard {
        max-width: 90%;
    }

    body {
        font-size: 0.875rem;
    }

    button {
        font-size: 0.9rem;
    }

    #page-name {
        margin-top: 45px !important;
    }
}

@media (max-width: 576px) {
    #formulario {
        padding: 1rem 0.5rem;
        max-width: 300px;
    }

    #formulario h2 {
        font-size: 1.2rem;
    }

    #formulario .form-label {
        font-size: 0.8rem;
    }

    #formulario .form-control {
        font-size: 0.8rem;
    }

    #formulario button {
        font-size: 0.8rem;
    }

    #formulario .invalid-feedback {
        font-size: 0.7rem;
    }

    #page-name .navbar-brand {
        font-size: 1.2rem;
    }

    .titleDashboard {
        max-width: 100%;
    }

    body {
        font-size: 0.75rem;
    }

    button {
        font-size: 0.8rem;
    }

    #page-name {
        margin-top: 40px !important;
    }
}