<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interonda IO</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" th:href="@{/images/wifi.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top shadow-sm responsive-navbar">
    <div class="container-fluid">
        <img th:src="@{/images/logo.png}" alt="Interonda Logo"
             class="d-inline-block align-text-top me-2 interonda navbar-logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto navbar-menu">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/dashboard}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/usuario}">Usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid d-flex p-0">
    <aside class="sidebar bg-secondary text-white p-3 fixed-sidebar responsive-sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/dashboard}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableProveedores}">Proveedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableClientes}">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableProductos}">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableCategorias}">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableDepositos}">Depósitos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableCompras}">Compras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableVentas}">Ventas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableUsuarios}">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/}">Historiales de Stock</a>
            </li>
        </ul>
    </aside>
    <main class="content-dashboard text-center flex-grow-1 contentPersist" aria-label="Main Content">
        <h2 class="mb-5 titleDashboard">Sistema de Gestion de Inventarios</h2>
        <div class="row-dashboard">
            <div class="card-container">
                <div class="card mb-3 shadow-sm elegant-card">
                    <div class="card-body body-dashboard">
                        <h2 class="card-number-dashboard elegant-text-dashboard" th:text="${totalProveedores}"></h2>
                        <h5 class="card-title card-title-dashboard elegant-text-dashboard">Proveedores</h5>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card mb-3 shadow-sm elegant-card">
                    <div class="card-body body-dashboard">
                        <h2 class="card-number-dashboard elegant-text-dashboard" th:text="${totalProductos}"></h2>
                        <h5 class="card-title card-title-dashboard elegant-text-dashboard">Productos</h5>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card mb-3 shadow-sm elegant-card">
                    <div class="card-body body-dashboard">
                        <h2 class="card-number-dashboard elegant-text-dashboard" th:text="${totalClientes}"></h2>
                        <h5 class="card-title card-title-dashboard elegant-text-dashboard">Clientes</h5>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card mb-3 shadow-sm elegant-card">
                    <div class="card-body body-dashboard">
                        <h2 class="card-number-dashboard elegant-text-dashboard" th:text="${totalCompras}"></h2>
                        <h5 class="card-title card-title-dashboard elegant-text-dashboard">Compras</h5>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card mb-3 shadow-sm elegant-card">
                    <div class="card-body body-dashboard">
                        <h2 class="card-number-dashboard elegant-text-dashboard" th:text="${totalVentas}"></h2>
                        <h5 class="card-title card-title-dashboard elegant-text-dashboard">Ventas</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-dashboard">
            <div class="card-container">
                <div class="card mb-3 shadow-sm elegant-card">
                    <div class="card-body body-dashboard">
                        <h2 class="card-number-dashboard elegant-text-dashboard" th:text="${totalUsuarios}"></h2>
                        <h5 class="card-title card-title-dashboard elegant-text-dashboard">Usuarios</h5>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card mb-3 shadow-sm elegant-card">
                    <div class="card-body body-dashboard">
                        <h2 class="card-number-dashboard elegant-text-dashboard" th:text="${totalDepositos}"></h2>
                        <h5 class="card-title card-title-dashboard elegant-text-dashboard">Depositos</h5>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card mb-3 shadow-sm elegant-card">
                    <div class="card-body body-dashboard">
                        <h2 class="card-number-dashboard elegant-text-dashboard" th:text="${totalCategorias}"></h2>
                        <h5 class="card-title card-title-dashboard elegant-text-dashboard">Categorias</h5>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>

</html>