<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interonda IO</title>
    <link rel="stylesheet" th:href="@{/css/tableProveedores.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" th:href="@{/images/wifi.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body class="body-table" th:data-error-message="${errorMessage}">
<nav class="navbar navbar-expand-lg navbar-dark sticky-top shadow-sm responsive-navbar">
    <div class="container-fluid">
        <img th:src="@{/images/logo.png}" alt="Interonda Logo"
             class="d-inline-block align-text-top me-2 interonda navbar-logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto navbar-menu">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/dashboard}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid d-flex p-0">
    <aside class="sidebar bg-secondary text-white p-3 fixed-sidebar responsive-sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/dashboard}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableProveedores}">Proveedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableClientes}">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableProductos}">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableCategorias}">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableDepositos}">Depósitos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableCompras}">Compras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableVentas}"
                   th:classappend="${currentPage == 'tableVentas'} ? 'active' : ''">Ventas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/tableUsuarios}">Usuarios</a>
            </li>
        </ul>
    </aside>
    <main class="contentPersist p-3 text-center">
        <h2 class="mb-4 titlePersist">Presupuestar</h2>

        <form th:action="@{/tablePresupuestar/search}" method="get" class="search-form-container">
            <div class="input-group-buscar">
                <input type="text" name="nombreCliente" placeholder="Cliente" class="form-control search-input">
                <input type="hidden" name="page" value="0">
                <input type="hidden" name="size" value="15">
            </div>
        </form>

        <div class="table-responsive mt-3">
            <table class="table table-dark table-striped table-bordered custom-table table-sm table-smaller-text">
                <thead class="table-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Método de Pago</th>
                    <th scope="col">Impuestos</th>
                    <th scope="col">Total</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="venta : ${ventas}">
                    <td th:data-label="ID" th:text="${venta.id}"></td>
                    <td th:data-label="Cliente" th:text="${venta.clienteNombre}"></td>
                    <td th:data-label="Fecha" th:text="${venta.fecha}"></td>
                    <td th:data-label="Estado" th:text="${venta.estado}"></td>
                    <td th:data-label="Metodo_de_Pago" th:text="${venta.metodoPago}"></td>
                    <td th:data-label="Impuestos" th:text="${venta.impuestos}"></td>
                    <td th:data-label="Total" th:text="${venta.total}"></td>
                    <td th:data-label="Acciones">
                        <div class="btn-group">
                            <button class="btn bg-success bg-success-compra btn-sm navbar-menu me-2"
                                    th:onclick="'downloadPdf(' + ${venta.id} + ')'">
                                Presupuestar
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${page.hasPrevious()} ? '' : 'disabled'">
                    <a class="page-link"
                       th:href="@{/tablePresupuestar(page=${page.number - 1}, size=${page.size}, fecha=${param.fecha})}">Anterior</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                    th:classappend="${page.number == i} ? 'active'">
                    <a class="page-link"
                       th:href="@{/tablePresupuestar(page=${i}, size=${page.size}, fecha=${param.fecha})}"
                       th:text="${i + 1}">1</a>
                </li>
                <li class="page-item" th:classappend="${page.hasNext()} ? '' : 'disabled'">
                    <a class="page-link"
                       th:href="@{/tablePresupuestar(page=${page.number + 1}, size=${page.size}, fecha=${param.fecha})}">Siguiente</a>
                </li>
            </ul>
        </nav>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/indexPresupuestar.js"></script>
</body>

</html>